<div
  id='{{ name }}_editor'
  class='structured-field-editor'
  data-name='{{ name }}'
></div>

<textarea id="{{ widget_id }}" name="{{ name }}" class="{{ widget_class }}" style="display: none">
  {{ data }}
</textarea>

<script type="text/javascript" >

  window.structuredFields = window.structuredFields || {};
  window.structuredFields['{{ name }}'] = {
    formData: {{ data|safe }},
    schema: {{ schema|safe }},
    uiSchema: {{ ui_schema|safe }},
    errors: {{ errors|safe }},
  };
</script>