.structured-field-editor {
  width: 100%;
  .form-control {
    display: flex;
    flex-direction: column;
  }
  button {
    padding: 3px 12px;
    background: var(--object-tools-bg);
    color: var(--object-tools-fg);
    font-weight: 400;
    font-size: 0.6875rem;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    border-radius: 15px;
    border: none;
    margin: 1px 2px;
    cursor: pointer;
    &:hover {
      background-color: var(--object-tools-hover-bg);
    }
  }
  .je-modal {
    background: var(--body-bg);
  }
  .je-indented-panel {
    border: 1px solid var(--border-color) !important;
    background: var(--darkened-bg);
  }
}
.form-row {
  overflow: visible !important;
}
