.structured-field-editor {
  width: 100%;
  border-radius: 5px;
  .errmsg {
    color: var(--error-fg) !important;
    margin: 7px 2px;
  }
  .form-control {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  label.je-form-input-label {
    text-transform: capitalize;
    &.required::after {
      content: "*";
      vertical-align: inherit;
    }
  }
  button {
    padding: 3px 12px;
    background: var(--object-tools-bg);
    color: var(--object-tools-fg);
    font-weight: 400;
    font-size: 0.6875rem;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    border-radius: 15px;
    border: none;
    margin: 1px 2px;
    cursor: pointer;
    &:hover {
      background-color: var(--object-tools-hover-bg);
    }
  }
  .je-modal {
    background: var(--body-bg);
    border: 1px solid var(--border-color);
    background: var(--darkened-bg);
    box-shadow: none;
    border-radius: 5px;
    textarea {
      background: var(--darkened-bg);
      border: none;
      color: var(--body-fg);
    }
  }
  .je-indented-panel {
    border: 1px solid var(--border-color) !important;
    background: var(--darkened-bg);
  }
}
.form-row {
  overflow: visible !important;
}

.errors .structured-field-editor {
  input,
  select,
  textarea {
    border: 1px solid var(--border-color);
  }
  border: 1px solid var(--error-fg);
}

.select2.select2-container {
  max-width: 100%;
}
.structured-field-editor button.select2-selection__clear {
  color: #000;
}
.select2-container .select2-selection--multiple .select2-selection__rendered {
  margin-left: 0;
}
.select2-dropdown {
  border: 1px solid var(--border-color);
  background: var(--darkened-bg);
}
.select2-container--default .select2-search--dropdown .select2-search__field {
  border: 1px solid var(--border-color);
  background: var(--body-bg);
  color: var(--body-fg);
}
.select2-container--default .select2-results__option--selected{
  background: var(--selected-bg);
}
.select2-container--default .select2-selection--single{
  border: 1px solid var(--border-color);
  background: var(--body-bg);
  color: var(--body-fg);
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: var(--body-fg);
}
.structured-field-editor button.select2-selection__clear {
  color: var(--body-fg);
}
.select2-container--default .select2-selection--multiple .select2-selection__choice{
  background: var(--darkened-bg);
  color: var(--body-fg);
}
.select2-container--default .select2-selection--multiple{
  border: 1px solid var(--border-color);
  background-color: var(--body-bg);
  color: var(--body-fg);
}